<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E13FZ8EKTZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-E13FZ8EKTZ');
    </script>
    <script data-ad-client="ca-pub-8088326861914766" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/letterN.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>{% block title %}Neg-o-Meter{% endblock %}</title>
</head>

<body>
    {% block content %}{% endblock %}
</body>
<h6>Copyright &copy; 2021-2022</h6>
</html>
