<!DOCTYPE html>

<html lang="en">
<head>
    <script data-ad-client="ca-pub-8088326861914766" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="icon" type="image/x-icon" href="../static/images/letterN.png">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>{% block title %}Neg-o-Meter{% endblock %}</title>
</head>

<body>
    {% block content %}{% endblock %}
</body>
<h6>Copyright &copy; 2021-2022</h6>
</html>
