{% extends "base.html" %}

{% block content %}

    <h2 style="font-size: 320%">{{ outlet.name }}</h2>

    <img src="../../static/images/{{ outlet.tag }}Logo.jpeg" alt="LOGO">

    <h2 style="border-bottom: 2px solid #863fcc; text-align: left; padding-left: 8%;">Summary</h2>

    <h3>Overall Score: </h3>

    <br><br>

    <h2 style="border-bottom: 2px solid #863fcc; text-align: left; padding-left: 8%;">Yesterday's Stats</h2>

    <br><br>

    <h2 style="border-bottom: 2px solid #863fcc; text-align: left; padding-left: 8%;">Misc Info</h2>
    <p>Link:<a href="{{ outlet.link_to }}">{{ outlet.link_to }}</a>RSS Feed: {{ outlet.rss_source }}</p>

{% endblock %}