{% extends "base.html" %}

{% block content %}
    <h1 style="font-size: 400%">Neg-O-Meter</h1>

    <h2>Welcome to the Neg-o-meter!</h2>
    <br>

    <p>The media is highly incentivized to induce mild panic in their viewers. Sensational news encourages viewers to
        return each day, or even each hour, to get updates on exactly how and where a part of the world is burning.</p>

    <p>This website analyzes, rates, and reports upon the negativity of various major news networks.</p>

    <br><br><br>

    <p style="font-size: 200%">Currently we have statistics on the following news outlets:</p>

    <a href="/abc" style="font-size: 300%;"><div><div><img src="../static/images/abcLogo.jpeg" style="width:50px;height:50px;" alt="ABC Logo"></div><div>ABC News</div></div></a>
    <a href="/abc" style="font-size: 300%;"><div><div><img src="../static/images/cbsLogo.jpeg" style="width:50px;height:50px;" alt="ABC Logo"></div><div>CBS News</div></div></a>
    <a href="/abc" style="font-size: 300%;"><div><div><img src="../static/images/cnnLogo.png" style="width:50px;height:50px;" alt="ABC Logo"></div><div>CNN</div></div></a>
    <a href="/abc" style="font-size: 300%;"><div><div><img src="../static/images/foxLogo.png" style="width:50px;height:50px;" alt="ABC Logo"></div><div>Fox News</div></div></a>
    <a href="/abc" style="font-size: 300%;"><div><div><img src="../static/images/nbc_logo.jpg" style="width:100px;height:50px;" alt="ABC Logo"></div><div>NBC News</div></div></a>

    <br><br><br><br><br><br>

    <a href="" style="font-size: larger">Learn More</a>
    <a href="" style="font-size: larger">Donate</a>
    <a href="" style="font-size: larger">Contact Us</a>

    <br><br><br>

    <h6>Copyright 2021-2022</h6>
{% endblock %}