{% extends "base.html" %}

{% block content %}
    <h1>Neg-O-Meter</h1>

    <h3>Tracking the Sources of Negativity</h3>
    <br>

    <p>The media, in tandem with other institutions, is highly incentivized to induce various degrees of panic in their
        viewers, and by extension society overall. Sensational news encourages viewers to return each day, or even each
        hour, to get updates on exactly how and where a part of the world is burning. This amplification of darkness in
        the world is incredibly damaging to our civilization.</p>

    <p>As with any issue, calm awareness is the first step forward. Negometer attempts to analyze, rate, and report upon the
        negativity of various major news networks. The website is currently in its earliest stages of conception and
        realization. Over time, with work, it will grow and be refined to provide detailed daily reports and highly informative
        statistics which will inform on the degree of morbidity, despair, and hate of different media outlets. Hopefully,
        this will enable various individuals comprising the public to resist an induction of hysteria.</p>

    <br><br><br>

    <h3><u>Currently we have ratings on the following news outlets for viewing:</u></h3>

    {% load static %}
    <a href="/details/abc" style="font-size: 300%;"><div><div><img src="{% static 'images/abcLogo.jpeg' %}" style="width:80px;height:80px;" alt="ABC Logo"></div><div>ABC News</div></div></a>
    <a href="/details/cbs" style="font-size: 300%;"><div><div><img src="{% static 'images/cbsLogo.jpeg' %}" style="width:80px;height:80px;" alt="CBS Logo"></div><div>CBS News</div></div></a>
    <a href="/details/cnn" style="font-size: 300%;"><div><div><img src="{% static 'images/cnnLogo.jpeg' %}" style="width:80px;height:80px;" alt="CNN Logo"></div><div>CNN</div></div></a>
    <a href="/details/fox" style="font-size: 300%;"><div><div><img src="{% static 'images/foxLogo.jpeg' %}" style="width:80px;height:80px;" alt="Fox News Logo"></div><div>Fox News</div></div></a>
    <a href="/details/nbc" style="font-size: 300%;"><div><div><img src="{% static 'images/nbcLogo.jpeg' %}" style="width:160px;height:80px;" alt="NBC Logo"></div><div>NBC News</div></div></a>

    <br>
{% endblock %}