{% extends "base.html" %}

{% block content %}

    <h1>What is Negometer?</h1>
    <p>Negometer is a website that informs the public about the type of news provided to them by various news outlets.
    Knowing which news sites are peddling more intense and negative content is the first step in protecting oneself from
    that news. We will evaluate news outlets by comparing them against eachother as well as themselves over time. We will
    also analyze what topics each news outlet are most obsessed with.</p>
    <br>
    <br>
    <br>
    <h1>Why is Negometer needed today?</h1>
    <p>Having our society exposed to unnecessarily negative and demoralizing media will obviously have dire consequences
        eventually. However, allowing critical events of the day to pass by you in darkness is also dangerous. Becoming
        informed about which outlets are being the most damaging to your psyche, and when, is a requirement to strategically
        insulate yourself from news allowing you to remain informed without being assaulted by fatalistic view points
        largely void of usefully informative content.</p>
    <br>
    <br>
    <br>
    <h1>How does it work?</h1>
    <p>Much of what currently and will eventually make the Negometer work must remain somewhat mysterious. Should this
        website gain enough of an audience to gain the attention of main stream media, they would likely attempt to alter
        their distribution of news so as to be rated less negatively while not changing the content most people are actually
        exposed to.</p>
    <p>However, what the Negometer Team can guarantee to everyone is that the logic and techniques used to analyze and rate outlets
        will not be made to be uniquely favorable or disfavorable to any news outlet. What's more, the sheer volume of content
        produced by each news network will be taken into account so that a more prolific outlet will not be rated worse than a less
        enormous outlet due to its size alone.</p>
    <p>We will always inform you honestly and accurately about the objective nature of the news you consume.</p>
    <br>
    <br>
    <br>
    <h1>Goals for the Future</h1>
    <p>This edition of the website is the very first version of many to come. Thus, it will only improve from here on out.
        Also, I would like to thank you for being an early visitor to the website and possible supporter of our mission.
        Currently, the Negometer ratings are for a single day and time in late December 2021. Eventually, these ratings
        will automatically update daily or possibly hourly. Once this is refined, another goal will be to provide a service
        the public can sign up for which will provide alerts when unusual spikes in negativity are detected. Currently,
        the scope of data collected from each website is very narrow, another goal is to make the data we analyze more
        comprehensive.</p>
    <p>The next version currently in development will focus on or more of the following:<br> A) AWP(article word points) system. This
        will be a representation of the volume of news analyzed by Negometer for each news outlet.<br>B) Top Themes. The
        topics each news outlet focuses on.<br>C) Prominent Supporters. A short list of vested or influential people somehow
        tied to the network.</p>
    <br>
    <br>
    <br>
    <h1></h1>

{% endblock %}