{% extends "base.html" %}

{% block content %}

    <h1>Privacy and Data Collection Policy</h1>

    <h4>This is the privacy policy for negometer.com</h4>

    <br><br>

    <p>
        Negometer.com utilizes various third-party services to function. In doing so, 'cookies' and other tracking mechanisms
        are embedded into the website. This is because the Negometer Team needs to know how many people are visiting the
        website, the demographics of who is visiting the website, etc. This is for quality assurance, improvement, and
        advertising purposes. Information collected includes but is not limited to IP address, website engagement, advertising
        related information, and website preferences.
    </p>

    <br>

    <p>There are links to other sites on our website. If you click on of the links that lead out of our website, you will be
        directed to a website we do not control and assume no responsibility for the content, privacy policies, or
        practices of any third-party sites or services.</p>

    <br>

    <p>This policy may be changed in the future and will be updated here.</p>

    <br>

    <p>If you have questions or concerns please contact us.</p>

    <br>

    <p>We value your security and privacy and utilize top of the line technology and web hosting to provide you our services.
        However, we will point out to you that no form of transmission over the internet is absolutely secure.</p>

    <br>

    <p>Here are some useful links:<br>
        <a href="https://policies.google.com/privacy" style="color: #863fcc">Google Privacy Policy</a><br>
        <a href="https://www.house.gov/privacy-policy" style="color: #863fcc">Privacy Policy of United States House of Representatives</a><br>
        <a href="https://brave.com/" style="color: #863fcc">Brave, A Privacy Focused Browser</a><br>
    </p>

{% endblock %}