{% extends "base.html" %}

{% block content %}

    <h1>Support Negometer</h1>
    <h3>Thank you!</h3>
    <p>Thank you for wanting to support the Negometer mission of protecting against the negative aspects of modern
        for-profit news.</p>
    <p>Your security, privacy and donations are of the utmost importance to the Negometer team. That is why it may be
        sometime before we have an ideal set up for donations which will protect your data without wasting a significant
        portion of the hard-earned money you may choose to give us.</p>
    <p>In the mean time, it would be great if you checked back on the website frequently, even when it seems there is not
        much new.</p>
    <p>And most importantly, please share the website url:<a href="https://www.negometer.com">www.negometer.com</a> with people who might be interested.</p>

{% endblock %}