@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Inter:wght@500&family=Roboto:ital,wght@1,700&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: white;
    color: #863fcc;
    text-align: center;
}

h1 {
    border-bottom: 4px solid #863fcc;
}

p {
    font-size: large;
    color: black;
}

a {
    padding: 20px;
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #863fcc;
}